* {
    font-family: sans-serif;
}

#visualizations {
    display: block;
    overflow: hidden;
    white-space: no-wrap;
    /* float: left; */
}

svg {
    display: inline-block;
}

.title {
    font-size: 18pt;
    text-anchor: middle;
    dominant-baseline: hanging ; 
}

.legend {
    font-size: 1em;
    transform: translate(15px, 0);
    alignment-baseline: central;
    dominant-baseline: central; 
}

.legend-circle {
    r: 7.5;
    stroke: black;
}

.legend-rect {
    width: 20px;
    height: 20px;
    stroke: black;
    transform: translate(0, -10px);
}

.slider line {
    stroke: #ddd;
    stroke-width: 15px;
    stroke-linecap: round;
    cursor: grab;
}

.slider circle {
    fill: #66e;
    pointer-events: stroke;
    r: 15;
}

.slider text {
    text-anchor: middle;
    font-size: 11pt;
    transform: translate(0, -8px);
    alignment-baseline: central;
    dominant-baseline: central;
}

.play-btn text {
    text-anchor: middle;
    font-size: 16pt;
    alignment-baseline: central;
    dominant-baseline: central;
    cursor: pointer;
    fill: white;
}

.play-btn circle {
    cx: 0;
    cy: 0;
    r: 18;
    fill: #66e;
}

.country-label {
    text-anchor: middle;
    fill-opacity: 0;
    pointer-events: none;
    font-weight: 700;
    alignment-baseline: central;
    dominant-baseline: central;
}

.country-circle {
    cx: 0;
    cy: 0;
    stroke-width: 1px;
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.35s ease-in-out;
}

.country-label.hovered,
.country-label.selected {
    fill-opacity: 1;
}

.country-circle.hovered {
    stroke: #8dd3c7 !important;
    stroke-width: 5px;
}

.country-circle.selected {
    stroke-width: 7px;
}

.country-circle.blend-out {
    opacity: 0.5;
}

.country-circle.country-history {
    stroke: black;
    /* pointer-events: stroke; */
}

#pillar-y-axis .domain {
    /* display: none; */
}

#pillar-y-axis line {
    display: none;
}

.axis text {
    font-size: 10pt;
}
