* {
    font-family: sans-serif;
}

#first-row,
#visualizations {
    display: inline-block;
    overflow: hidden;
    white-space: no-wrap;
    /* float: left; */
}

svg {
    display: inline-block;
}

.title {
    font-size: 15pt;
    text-anchor: middle;
    transform: translate(0, 24px);
}

.legend {
    font-size: 16px;
    transform: translate(15px, 6px);
    /* alignment-baseline: central;
    dominant-baseline: central;  */
}

.legend-circle {
    stroke: black;
}

.legend-rect {
    stroke: black;
    transform: translate(0, -10px);
}

.slider line {
    stroke: #ddd;
    stroke-width: 15px;
    stroke-linecap: round;
    cursor: grab;
}

.slider circle {
    fill: #66e;
    pointer-events: stroke;
}

.slider text {
    text-anchor: middle;
    font-size: 11pt;
}

.play-btn text {
    text-anchor: middle;
    font-size: 16pt;
    cursor: pointer;
    fill: white;
    transform: translate(0, 8px);
}

.play-btn circle {
    fill: #66e;
}

.country-label {
    text-anchor: end;
    opacity: 0;
    pointer-events: none;
    font-weight: 700;
    alignment-baseline: central;
    dominant-baseline: central;
}

.country-label rect {
    fill: white;
    stroke: black;
    stroke-width: 3px;
}

.country-label line {
    stroke: black;
}

.country-circle {
    stroke-width: 1px;
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.35s ease-in-out;
}

.country-label.hovered,
.country-label.selected {
    opacity: 1;
}

.country-circle.hovered {
    stroke: #8dd3c7 !important;
    stroke-width: 5px;
}

.country-circle.selected {
    stroke-width: 7px;
}

.country-circle.blend-out {
    opacity: 0.5;
}

.country-circle.blend-out.selected {
    opacity: 0.75;
}

.country-circle.country-history {
    stroke: black;
}

#pillar-y-axis line {
    display: none;
}

.axis text {
    font-size: 10pt;
}
